
body{
    background-color: black;
    color: green;
    min-height: 100vh;
}


.form{
    font-size: 25rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:10rem;
}
