
body{
    background-color: black;
    color: green;
    min-height: 100vh;
}


.form{
    font-size: 25rem;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:10rem;
}

.input{
    margin-top:2rem;
    display:block;
    justify-content:center;
    align-items:center;
}

.input input[type="text"]{
    background-color: aliceblue;
    color:black;
    max-width:10rem;
}
.input input[type="password"]{
    background-color: aliceblue;
    color:black;
    max-width:10rem;
}


.input input[type="submit"]{
    background-color: aliceblue;
    color: black;
    font-size: small;
    padding: 0.1rem 0.5rem;
    max-width:10rem;
    cursor:pointer;
}
