* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';

}

.overlay{
  z-index: 100;
}

#video{
  z-index: -100;
  position:relative;
  width:100%;
}


/*header*/

.header {
  width: 100%;
  height: 63px;
  padding: 1rem 3.5rem;
  background-color: #000000;
  z-index: -1;
  display:flex;
}

.header div {
  display: flex;
  background-color: #000000;
}

div.circle {
  width: 20px;
  height: 20px;
  left: 10rem;
  margin: 0rem 0.3rem;
  border-radius: 999em; 
}

div.circle.circle1 {
  background-color: #f06874;
}

div.circle.circle2 {
  background-color: #6aaff2;
}

div.circle.circle3 {
  background-color: #ffffff;
}



main {
  width: 100%;
  display: flex;
}

.container{
  display:flex;
  flex-direction: row;
  top: 3rem;
  position: relative;
}

/*left*/

.left{
  height:80%;
  text-align:center;
  align-items: center;
  width:10rem;
  display:flex;
  flex-direction: column;
  padding:0.5rem;
  flex-grow:0.5;
}

/*Online*/

.onlinecontainer{
  padding:0rem 0.5rem;
  align-items: center;
  display:flex;
  flex-direction: column;

}

.text{
  color:#ffffff;
  font-size: 0.8em;
}

.player{
  align-items: center;
  padding-top: 1.5rem;
}

.player1{
  background-image: url('../picture/player1.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  height:4rem;
  width:4rem;
  cursor: pointer;
}

.player2{
  background-image: url('../picture/player2.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  height:4rem;
  width:4rem;
  cursor: pointer;
}

.player3{
  background-image: url('../picture/player3.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  height:4rem;
  width:4rem;
  cursor: pointer;
}

.player4{
  background-image: url('../picture/player4.png');
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  height:4rem;
  width:4rem;
  cursor: pointer;
}


/*Mail*/


.mail{
  width:4rem;
  align-items: center;
  cursor: pointer;
  margin:3rem;
}


/*middla*/

.middle{
  display:flex;
  flex-direction: column;
  flex-grow:2;
  padding-top: 2rem;
}


.right{
  display:flex;
  flex-grow:2;
}



.board_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 285px;
  left: 27px;
  position: relative;
  padding: 0 5rem;
  top: 50px;
  background-color: #24c8c6;
  border: 1px solid #ffffff;
  box-shadow: -3px -3px 50px 20px #24c8c6, 3px 3px 50px 20px #24c8c6;
}

.chat_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 1px;
  width: 430px;
  height: 644px;
  left: 50px;
  background-color: #fec7fd;
  border: 1px solid #ffffff;
  box-shadow: -3px -3px 50px 20px #fec7fd, 3px 3px 50px 20px #fec7fd;
}

.chat_box_header {
  background-color: #f289f0;
  position: relative;
  width: 519px;
  height: 49px;
  z-index: 2;
}
