* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 63px;
  padding: 1rem;
  background-color: #000000;
  z-index: -1;
}

.header div {
  display: flex;
  background-color: #000000;
}

div.circle {
  width: 26px;
  height: 26px;
  left: 30px;
  margin: 0rem 0.3rem;
  border-radius: 999em;
}

div.circle.circle1 {
  background-color: #f06874;
}

div.circle.circle2 {
  background-color: #6aaff2;
}

div.circle.circle3 {
  background-color: #ffffff;
}

main {
  width: 100%;
  display: flex;
}

.left,
.right {
  padding: 1em 3rem;
  display: flex;
  flex-direction: column;
}

.player_image {
  width: 300px;
}

.board_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 285px;
  left: 27px;
  position: relative;
  padding: 0 5rem;
  top: 50px;
  background-color: #24c8c6;
  border: 1px solid #ffffff;
  box-shadow: -3px -3px 50px 20px #24c8c6, 3px 3px 50px 20px #24c8c6;
}

.chat_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 1px;
  width: 430px;
  height: 644px;
  left: 50px;
  background-color: #fec7fd;
  border: 1px solid #ffffff;
  box-shadow: -3px -3px 50px 20px #fec7fd, 3px 3px 50px 20px #fec7fd;
}

.chat_box_header {
  background-color: #f289f0;
  position: relative;
  width: 519px;
  height: 49px;
  z-index: 2;
}
