* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url("../picture/firstpage.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-align: center;
}


  .start {
    background-color: #FEC7FD;
    color:azure;
    padding: 1.2rem;
    width:250px;
    font-size: large;
    border-color: azure;
    top:100px
  }




