* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}


/*
section.backImage {
  height: 100vh;
  width: 100vw;
  background-image: url("../picture/startGame.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  display: flex;
  text-align: center;
}
*/
.startBtn{
  background-color: #FEC7FD;
  color:azure;
  border-color: azure;
  padding: 0.5rem;
  width:15rem;
  height:3.5rem;
  font-size: 1.5rem;
  position: absolute;
  left: 40.5%;
  top: 58%;
}

.start {
  background-image: url("../picture/startBtn.png");
  background-repeat: no-repeat;
  width:100%;
  height:auto;
  left:10rem;
}


.indexContainer{
  display: flex;
  flex-direction: column;

}

/*
align-items: center;
justify-content: center;
*/