
.playercontainer{
    background: linear-gradient(45deg, #FFA5F1,#98F9F3);
    border: 0.2rem solid #FFF;
}


.playercard{
    margin: 0.5rem;
    background-image: url('../picture/user.png');
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
    height:9rem;
}



h3{
    font-style: normal;
    font-weight: 900;
    font-size: 0.85rem;
    line-height: 1.5rem;
    display: inline;
    color: black;
    margin-left:1.5rem;
}

p{
    font-size: 0.5rem;
    line-height: 1rem;
    display: inline; 
    color: black; 
    margin-left:1.5rem;
}

.missioncontainer{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.mission{
    width:16rem;
    height:3.75rem;
    background: linear-gradient(45deg, #FFA5F1,#98F9F3);
    border: 0.2rem solid #FFF;
    margin-top: 1.5rem;
    text-align:start;
    padding:0.3rem;
}

.boxcircle{
    width: 2.6rem;
    height: 2.6rem;
    margin: 0.1rem;
    border-radius: 999em;
    z-index: 2;
    background: #C4C4C4;
    border: 0.3rem solid #81FAF8;
    display: inline;
    float:left;
}
