.modal-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0.95;
	z-index: 2;
}


.player1intro{
	background-color: #FFF;
    width: 612px;
    height: 390px;
	padding: 2em;
	margin: auto;
    background-size: cover;
    background-image: url(../picture/player1_intro.png);
}

.player2intro{
	background-color: #FFF;
    width: 612px;
    height: 390px;
	padding: 2em;
	margin: auto;
    background-size: cover;
    background-image: url(../picture/player2_intro.png);
}


.player3intro{
	background-color: #FFF;
    width: 612px;
    height: 390px;
	padding: 2em;
	margin: auto;
    background-size: cover;
    background-image: url(../picture/player3_intro.png);
}

.player4intro{
	background-color: #FFF;
    width: 612px;
    height: 390px;
	padding: 2em;
	margin: auto;
    background-size: cover;
    background-image: url(../picture/player4_intro.png);
}

.close-modal{
    text-decoration: none;
    cursor: pointer;
    color:black;
    float:right;
}


.openmail{
	background-color: #696969;
	position: absolute;
	width:30%;
	min-height: 75%;
	border: 0.1rem solid #FFF;
	z-index: 1;
}

.mailheader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
}


/*
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

*/
