* { 
    text-decoration: none;
}


.secondpage {
    color:green; 
    min-height: 100vh;
    background-color:black;
    text-align: center;
    padding-top:15rem;
    font-size:1rem;
}
  
.wrap { 
    border-right: 0.08em solid #fff
}