* { 
    text-decoration: none;
}


.secondpage {
    color:green; 
    min-height: 100vh;
    background-color:black;
    text-align: center;
    padding-top:15rem;
    font-size:1rem;
}
  
.wrap { 
    border-right: 0.08em solid #fff
}


.bocirc{
    width: 2.6rem;
    height: 2.6rem;
    margin: 0.1rem;
    border-radius: 999em;
    z-index: 2;
    background: #C4C4C4;
    border: 0.3rem solid #81FAF8;
    display: inline;
    float:left;
}